<%= form_for @record, url: medical_consultation_payment_path(@record) do |f| %>
    <div class="form-group <%= 'has-error' if @record.errors[:pacient].present? %>">
      <label class="control-label" for="pacient_id">Paciente:</label>
      <%= f.select(:pacient_id,  Pacient.all.collect {|p| [ p.display_name, p.id ] }, { :class => 'dropdown-toggle', required: true }) %>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:medical_consultation_date].present? %>">
      <label class="control-label" for="medical_consultation_date">Fecha de la Consulta:</label>
      <div class="input-group date" id="fecha-consulta">
        <%= f.text_field :medical_consultation_date, class: 'form-control', placeholder: 'Fecha de la Consulta', required: true, value: @record.medical_consultation_date.try(:strftime, "%d/%m/%Y %r") %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @record.errors[:cost].present? %>">
      <label class="control-label" for="cost">Costo (C$):</label>
      <%= f.text_field :cost, class: 'form-control', placeholder: 'Costo', required: true %>      
    </div>

    <div class="botones-a-la-derecha">
      <%= f.submit "Guardar", class: 'btn btn-primary'%>
      <%= link_to 'Cancelar', medical_consultation_payments_path, class: 'btn btn-danger' %>
    </div>

<% end %>